{-# LANGUAGE OverloadedStrings #-}

module Credentials (
    consumerKey
  , accessToken
) where

import Data.Text

consumerKey :: Text
consumerKey = "YOUR POCKET CONSUMER KEY"

accessToken :: Text
accessToken = "YOUR POCKET USER ACCESS TOKEN"
